@import '~normalize.css/normalize';
@import 'global.scss';
@import '~bootstrap/scss/bootstrap';
@import "~tui-image-editor/dist/tui-image-editor";



/* Table modifications */
.tabulator-row .tabulator-cell {
  border-right: none;
}

/* End Table modifications */

.loadPopover {
  width: 600px;
}

.tui-image-editor-item svg {
  vertical-align: baseline;
}